body {
    background-color: rgb(200, 200, 200);
    color: rgb(37, 37, 37);
  }
  
  h1 {
    background-color: rgb(200, 200, 200);
    color: rgb(53, 53, 53);
  }
  
  h5 {
    background-color: rgb(200, 200, 200);
    color: rgb(153, 153, 153);
  }

  p {
    background-color: rgb(121, 121, 121);
  }